
.images{
    max-width: 200px;
    margin-left: 43%;
    margin-top: 5%;
}

.studioanime{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.year{
    font-size: 50px;
}

body{
    /* background-image: url("assets/yellow.jpeg"); */
}

