@font-face {
    font-family: 'futura';
    src: url('FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iosevka-bold';
    src: url('Iosevka-Extrabold.woff2') format('woff2'),
        url('Iosevka-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iosevka';
    src: url('Iosevka.woff2') format('woff2'),
        url('Iosevka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    min-width: 250px;
    background-color: rgb(45, 24, 186);
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(96, 72, 255);
    font-size: 18px;
    transition: 0.2s;
    font-family: 'iosevka-bold';

    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: rgb(179, 228, 0);
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(214, 255, 67);
    color: black;
    text-decoration: line-through;
    font-family: 'iosevka-bold';

  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: rgb(96, 72, 255);
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: rgb(96, 72, 255);
    padding: 30px 40px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'iosevka-bold';

  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 30px;
    font-family: 'iosevka-bold';
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: rgb(96, 72, 255);
    color: rgb(214, 255, 67);
    float: left;
    text-align: center;
    font-family: 'iosevka-bold';
    font-size: 33px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: black;
  }