@font-face {
    font-family:'begum';
    src: url('begum.woff2') format('woff2'), 
    url('begum.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;;
        src: url();
}
@font-face {
    font-family: 'gotham';
    src: url('Gotham-Bold.woff2') format('woff2'),
        url('gothambold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotham-light';
    src: url('gotham-light.woff2') format('woff2'),
        url('gothamlight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}        

        
body{
    margin:0;
    background-color: black;
}


.funky-cursor {
    cursor: url(dot.png), auto;
  }

  a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   text-decoration: none;
   cursor: pointer;
   font-family: 'gotham-light';
   display: inline-block;
   margin-left: 2%;

  }

a.ex2:hover, a.ex2:active {
    color: green;
}

.aboutme{
    color: white;
    font-size: 30px;
    font-family: 'gotham-light';
    margin-left: 9%;
    margin-right: 10%;
    text-align: center;
    margin-top: 3%;
}

.button{
    font-family:'gotham-light';  
    font-size: 30px;      }

img{
    margin-left: 34%;
    margin-top: 1%;
    border-radius: 6%;
}
.port{
    color: darkgreen;
    font-size: 30px;
    font-family: 'gotham-light';
    margin-top: 5%;
    margin-left:19%;
    margin-right: 18%;
    text-align: center;
    margin-bottom: 10%;
}
a.portfolio:hover, a.portfolio:active {
    color: green;
}
