@font-face {
    font-family: 'bloomsburg';
    src: url('Bloomsburg.woff2') format('woff2'),
        url('Bloomsburg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

table {
  font-family: helvetica;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
