@font-face {
    font-family: 'extrabold';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'extrabold';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'belle';
    src: url('Bellefair-Regular.woff2') format('woff2'),
        url('Bellefair-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #333B9B;
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
}


  .primary-header{
    display: flex;
  }

  h2{
        font-family: 'Bellefair-Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        text-align: center;
        color: #F4C460;
        margin-top: 7vh;
        margin-right: 5vh;
    }


    .menu{
        display:inline;
        float:left;
        font-size: 3vh;
        margin-top: -6vh;
        margin-left: 2vh; 
        text-decoration: none;
    }
    a{
        color: #F4C460;
        font-family: 'inter';
        text-decoration: none;
    }
    a:link{
        text-decoration: none;

    }
    a:visited {
        color: #F4C460;
        font-family: 'inter';
        text-decoration: none;
    }
    a:hover {
        color: #FF85D5;
        font-family: 'inter';
        text-decoration: none;
    }
    
    a:active{
        color: #F4C460;
        font-family: 'inter';
        text-decoration: none;
    }
    p{
        color: #F4C460;
        font-family: 'Bellefair-Regular';
        font-size: 22px;
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
        margin-left: 25%;
        margin-right: 25%;
        }
    .post__body{
        margin-top: 5vh;
    }


    @media screen and (min-width: 50px) and (max-width: 600px) {
     p{margin-left: 10%; margin-right: 10%;}
     h2{margin-left: 2vh;}
      }