@font-face {
    font-family: 'extrabold';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'extrabold';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'belle';
    src: url('Bellefair-Regular.woff2') format('woff2'),
        url('Bellefair-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #333B9B;
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
}


.four{
font-family: 'extrabold';
color: #F4C460;
font-size: 40vw;
margin-left: 19vh;
}

.stages{
    font-family: 'inter';
    color: #F4C460;
    font-size: 11vh;
    margin-top: 2vh ;
    margin-left: 0vh;
    line-height: 99%;
}

.wrapper{
    display:flex ;
    padding-right: 4vh;
}

.bigwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* HEART STARTS */
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      
      .box-heart {
        max-height: 350px;
      }
      
      #heart2 {
        height: 70%;
        margin-left: -3vh;
        animation: 2.5s ease 0s infinite beat;
        margin-top: 20vh;
      }
      
      @keyframes beat {
        0%, 50%, 100% { transform: scale(1, 1); }
        30%, 80% { transform: scale(0.92, 0.95); }
      }
      
      @keyframes pulse {
        0%, 50%, 100% {  background: none; }
        30%, 80% { background: none; }
      }


    .menu{
        display:inline;
        float:left;
        font-size: 3vh;
        margin-top: 1vh;
        margin-left: 2vh; 
        text-decoration: none;

        }
    .menu2{
        display:inline;
        float:right;
        font-size: 3vh;
        margin-top: 1vh;
        margin-right: 2vh;
        }

    a{
        color: #F4C460;
        font-family: 'inter';
        text-decoration: none;
    }
    a:link{
        text-decoration: none;

    }
    a:visited {
        color: #F4C460;
        font-family: 'inter';
        text-decoration: none;
    }
    a:hover {
        color: #FF85D5;
        font-family: 'inter';
        text-decoration: none;
    }
    
    a:active{
        color: #F4C460;
        font-family: 'inter';
        text-decoration: none;
    }

    @media screen and (min-width: 50px) and (max-width: 700px) {
        .stages {font-size: 3.5vh; margin-right: 0vh; margin-left: 1.5vh; margin-top: 0vh;}
        #heart2 {width: 27vw; height: auto;margin-top: 7vh; margin-left: 1vh;}
        img {margin-top: 0vh; max-width:75% ; height: auto;}
        .four{margin-left: 0vh;}
      }


      @media screen and (min-width: 701px) and (max-width: 900px) {
        .stages {font-size: 5.5vh; margin-right: 0vh; margin-left: 1.5vh; margin-top: 2vh;}
        #heart2 {width: 20vw; height: auto;margin-top: 9vh; margin-left: 2vh;}
        img {margin-top: 0vh; max-width:75% ; height: auto;}
        .four{margin-left: 0vh;}
      }