@font-face {
    font-family: 'iosevka-bold';
    src: url('Iosevka-Extrabold.woff2') format('woff2'),
        url('Iosevka-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iosevka';
    src: url('Iosevka.woff2') format('woff2'),
    url('Iosevka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
  margin: 0;
}

* {
  font-family: 'iosevka';
  font-size: 22px;
  text-align: center;
  line-height: 5px;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #FF3D96;
}

button {
  height: 50px;
  font-size: 22px;
  font-variant: small-caps;
}

#story {
  font-size: 84px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1;
}

input {
  font-family: Courier;
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}