@font-face {
    font-family: 'extrabold';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'extrabold';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'belle';
    src: url('Bellefair-Regular.woff2') format('woff2'),
        url('Bellefair-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #333B9B;
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
}


.four{
font-family: 'extrabold';
color: #F4C460;
font-size: 40vw;
}

.imgfilters img {
 width: 20%;
 position: absolute;
 top: 44%;
}

.stages{
    font-family: 'inter';
    color: #F4C460;
    font-size: 10vh;
    padding-top: 16vh;
    padding-left: 3vh;
}

.wrapper{
    display:flex ;
    padding-right: 4vh;
}

.bigwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* desktop version */
/* @media (min-width: 900px){
    .body{
        padding:0 45px;
    }

    .four{
        font-size: 550px;

    }

    .imgfilters img{
        display: inline-block;
        width: 20%;
    }

    .stages{
        font-size: 70px;
    }

    .imgfilters{
        padding-top: 30%;

    }

} */

.heart{
    transform: scale(1.2);
}