@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
