@font-face {
    font-family: 'monkeys';
    src: url('FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ios-bold';
    src: url('Iosevka-Extrabold.woff2') format('woff2'),
        url('Iosevka-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ios';
    src: url('Iosevka.woff2') format('woff2'),
        url('Iosevka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mess-reg';
    src: url('Messapia-Regular.woff2') format('woff2'),
        url('Messapia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mess-bold';
    src: url('Messapia-Bold.woff2') format('woff2'),
        url('Messapia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);

html,
body {
	padding: 0;
	margin: 0;
	background-color: black;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}
.main-wrapper {
	margin: 30px auto 0;
	width: 1080px;
	text-align: center;
}



.title {
	font-family: 'ios';
	text-align: center;
	font-size: 3.2em;
    font-weight: 300;
	color: #00ff73;
    position: absolute;
    margin-left: 32%;
    margin-top: 1.5%;
}


.key {
	display: inline-block;
	position: absolute;
    z-index: 3;
}


.key.kick {
	top: 400px;
    right: 300px;
}

.key.kick2 {
    top: 400px;
    right: 880px;

}

.key.snare {
    top: 100px;
    left: 600px;
    margin-top: 20%;
}

.key.snare2 {
    top: 33vh;
    left: 1000px;
    margin-top: 10%;
}

.key.snare3 {
    top: 33vh;
    left: 300px;
    margin-top: 10%;
}


.key.tom-high {
    top: 600px;
    left: 200px;
}

.key.tom-mid {
    top: 200px;
    left: 435px;
}

.key.tom-low {
    top: 405px;
    left: 270px;
}

.key.crash {
    top: 405px;
    left: 440px;
}

.key.crash1 {
    top: 405px;
    left: 150px;
}

.key.ride {
    top: 325px;
    right: 800px;
}

.key.ride1 {
    top: 625px;
    right: 800px;
}

.key.ride2 {
    top: 325px;
    right: 800px;
}
/* R */

.key.hihat-open {
    top: 205px;
    right: 300px;

}

.key.hihat-open2 {
    top: 505px;
    right: 1070px;
}
/* I */

.key.hihat-open3 {
    top: 295px;
    right: 870px;
}
/* I */

.key.hihat-close1 {
    margin-top: -115px;
    right: 1010px;
    position: absolute;
}
.key.hihat-close2 {
    margin-top: -190px;
    right: 788px;
    position: absolute;
}

.key.hihat-close {
    margin-top: 10px;
    right: 480px;
}
/* K */

.playing {
	transform: scale(1.15);
}

.key-map-wrapper {
	position: absolute;
    right: 0;
    top: 0;
    height: 550px;
    background: rgba(255, 255, 255, 0.105);
    width: 250px;
    z-index: 0;
}

.key-map-wrapper > h2 {
	color: #fff;
	font-family: 'mess-reg';
	margin-bottom: 35px;
	border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
/* Guides title */

.key-map-list {
	list-style: none;
	color: #fff;
	text-align: left;
}

.key-map-list > li {
	margin-bottom: 25px;
}

.key-code {
	color: #444;
    background-color: #eaeaea;
    font-size: 1.25em;
    padding: 5px 10px;
    border-radius: 4px;
    border: 3px solid #aaa;
}

.key-sound {
	/* font-size: 1em; */
	margin-left: 10px;
	font-family: 'mess-reg';
	vertical-align: middle;
}

kbd{
    font-family: 'mess-reg';
}

.greenbar{
    max-width: 330%;
    margin-top: 90%;
    align-items: center;
    margin-left: -7%;
}


.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* ENDS */


/* BUTTON */

.home {
    color: black;
    font-family: 'mess-reg';
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    position: fixed;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: -1%;
    z-index: 4;
    margin-top: -2%;
}

.green3{
    max-width: 60px;
    height: 60px;
    margin-left: 20%;
    margin-top: 10px;
    position: absolute;
  }

  .pink3 {
      opacity: 0;
      max-width: 60px;
      height: 60px;
      margin-left: 20%;
      margin-top: 10px;
      position: absolute;
  }


  .home:hover .green3 {
    transition: 0.7s;
    opacity: 0;
}

    .home:hover .pink3 {
    transition: 0.7s;
    opacity: 100;
}

.button1 {
    color: black;
    font-family: 'mess-reg';
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    position: fixed;
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 29%;
    margin-top: 40%;
    background-color: transparent;
  }

  .green{
    max-width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
  }

  .pink {
      opacity: 0;
      max-width: 60px;
      height: 60px;
      margin-left: 10px;
      margin-top: 10px;
      position: absolute;
  }


  .button1:hover .green {
    transition: 0.7s;
    opacity: 0;
}

    .button1:hover .pink {
    transition: 0.7s;
    opacity: 100;
}

/* .button1:hover {
    background-color:#FF0099;
    transition: 0.7s;
    color: #68FFB7;
} */
.button2 {
    color: black;
    font-family: 'mess-reg';
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    position: fixed;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 45%;
    z-index: 4;
    margin-top: 40%;
}

.green1{
    max-width: 60px;
    height: 60px;
    margin-left: 20%;
    margin-top: 10px;
    position: absolute;
  }

  .pink1 {
      opacity: 0;
      max-width: 60px;
      height: 60px;
      margin-left: 20%;
      margin-top: 10px;
      position: absolute;
  }


  .button2:hover .green1 {
    transition: 0.7s;
    opacity: 0;
}

    .button2:hover .pink1 {
    transition: 0.7s;
    opacity: 100;
}

button{
    all: unset;
  }

/* END OF BUTTON */

.button3 {
    color: black;
    font-family: 'mess-reg';
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    position: fixed;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 60%;
    z-index: 4;
    margin-top: 40%;
}

.green2{
    max-width: 60px;
    height: 60px;
    margin-left: 20%;
    margin-top: 10px;
    position: absolute;
  }

  .pink2 {
      opacity: 0;
      max-width: 60px;
      height: 60px;
      margin-left: 20%;
      margin-top: 10px;
      position: absolute;
  }

  .button3:hover .green2 {
    transition: 0.7s;
    opacity: 0;
}

    .button3:hover .pink2 {
    transition: 0.7s;
    opacity: 100;
}


#svg-container {
    opacity: 0;
    z-index: -1;
    width: 100px;
    height: 100px;
}

#svg-container.fade-in {
    opacity: 1;
    z-index: 999;
}

#svg-container .svg-rect.animate {
    animation: 1s ease anim-1;
}

#svg-container .svg-circ.animate {
    animation: 1s ease anim-2;
}
@keyframes anim-1 {
    from {
        transform: none;
    }
    to {
        transform: translate(-50%, -50%) scale(1.2) rotate(75deg);
    }
}

@keyframes anim-2 {
    from {
        transform: none;
    }
    to {
        transform: translate(70%, 50%) scale(2.2) rotate(75deg);
    }
}





.gif1{
    display: block;
    width: 180px;
    height: 150px;
    animation: 0.6s ease gif1-anime;
}


@keyframes gif1-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
        /* translate:(50px,50%);
        animation: animate 2s ease-in-out infinite; */
    }
}

.gif14{
    display: block;
    width: 180px;
    height: 150px;
    animation: 0.8s ease gif1-anime;
}


@keyframes gif14-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}



.gif2{
    display: block;
    width: 130px;
    height: 100px;
    animation: 0.7s ease gif2-anime;
}


@keyframes gif2-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(3.0);
    }
}



.gif3{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif3-anime;
}


@keyframes gif3-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(5.2);
    }
}



.gif4{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.65s ease gif4-anime;
}


@keyframes gif4-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(5);
    }
}



.gif5{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif5-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}


.gif6{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif6-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}



.gif7{
    display: block;
    width: 200px;
    height: 150px;
    animation: 0.4s ease gif1-anime;
}


@keyframes gif7-anime {
    from {
        top: 80vh;
        left: 600px;
    }
    to {
        top: 60vh;
        left: 600px;
    
    }
}



.gif8{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif8-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}



.gif9{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif9-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}



.gif10{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif10-anime;
}


@keyframes gif10-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(10.2);
    }
}






.gif11{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif10-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}




.gif12{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif10-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}




.gif13{
    display: block;
    width: 140px;
    height: 150px;
    animation: 0.7s ease gif1-anime;
}


@keyframes gif10-anime {
    from {
        transform: none;
    }
    to {
        transform:scale(2.2);
    }
}








