@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka-Extrabold.woff2') format('woff2'),
        url('Iosevka-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka';
    src: url('Iosevka.woff2') format('woff2'),
        url('Iosevka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

