@font-face {
    font-family: 'regular';
    src: url('BaiJamjuree-Regular.woff2') format('woff2'),
        url('BaiJamjuree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'medium';
    src: url('BaiJamjuree-Medium.woff2') format('woff2'),
        url('BaiJamjuree-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'bold';
    src: url('BaiJamjuree-Bold.woff2') format('woff2'),
        url('BaiJamjuree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  * {
    box-sizing: border-box;
    /* background-color: #F6AC55; */
  }
body{
    background-color: #330A33;
}
  img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 37%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #slideshow-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
  }
  
  #prev{
    background-color:#BD00FF;
    position: absolute;
    color: #330A33;
    border:none; 
    border-radius:50%; 
    min-height:100px; 
    min-width: 100px;
    box-shadow: 1px 1px 2px #BD00FF, 0 0 25px #BD00FF, 0 0 5px #BD00FF;
    margin-left: 4%;
    margin-top: 5%;
  }  

  #next{
    background-color:#BD00FF;
    position: absolute;
    color: #330A33;
    border:none; 
    border-radius:50%; 
    min-height:100px; 
    min-width: 100px;
    box-shadow: 1px 1px 2px #BD00FF, 0 0 25px #BD00FF, 0 0 5px #BD00FF;
    margin-left: 88%;
    margin-top: 5.4%;
  }

  article {
    position: relative;
    max-width: 500px;
    width: 20%;
    transition: all 0.2s ease;
  }
  
  article img {
    width: 120%;
  }
  
  article p {
    position: absolute;
    background: black;
    color: white;
    padding: .5rem;
    bottom: 0;
    left: 0;
    width: 120%;
    font-size: 12px;
    margin: 0;
    display: none;
  }

.change{
    font-family: "medium";
    color: #3A3A3A;
    font-size: 40px;
    margin-left: 85%;
    text-decoration: none;  
    margin-bottom: -10%;
    font-style: normal;
    color: #BD00FF;
}


a.change:hover, a.change:active {
    color: #fffffa;
}
.title1{
    color: #3A3A3A;
    text-align: left;
    font-family: "medium";
    font-weight: 500;
    font-size: 64px;  
    line-height: 103%;
    color: #BD00FF;
    margin-left: 7%;
    margin-bottom: -1vh;
    margin-top: -4vh;

}

.title2{
    font-family: 'bold';
    font-weight: 700;
    font-size: 125px;
    font-size: 139px;
    line-height: 114px;
    letter-spacing: -0.011em;
    margin-bottom: 5vh;
    color: #BD00FF;
    margin-left: 7%;
}
.funky-cursor {
    cursor: url(cursor.png), auto;
  }


#modal-container{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#anime-circle{
    background-color: #BD00FF;
    color: #330A33;
    display: none;
    border:none; 
    border-radius:50%; 
    box-shadow: 1px 1px 2px #BD00FF, 0 0 25px #BD00FF, 0 0 5px #BD00FF;
    height: 689px;
    width: 689px;
    margin: auto;
    margin-top: 3%;
    z-index: 2;
}

.circle-title{
    font-family: 'bold' ;
    color: white;
    font-size: 36px;
    text-align: center;
    max-width: 372px;
    margin-left: 24%;   
    padding-top: 10%;
}

.imdb{
    font-family: "medium";
    color: white;
    font-size: 25px;
    margin-left: 100px;
}

.studio{
    font-family: "medium";
    color: white;
    font-size: 25px;
    margin-left: 100px;
}

.originality{
    font-family: "medium";
    color: white;
    font-size: 25px;
    margin-left: 100px;
}
.medium{
    font-family: "medium";
    color: white;
    font-size: 25px;
    margin-left: 100px;
}

.year{
    font-family: "medium";
    color: white;
    font-size: 25px;
    margin-left: 100px;
    margin-top: -270px;
}
.circle-image{
    height: 300px;
    width: 300px;
    object-fit: contain;
    margin-left: 350px;
    margin-top: 10%;
}

.modal-active{
    display: block;
    opacity: 1;
    z-index: 999;

}
.poster-img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    padding-left: 7px;
}

    /* /* #BD00FF  #330A33 */
.left-gradient{
    background-color: #330A33;
    position: absolute;
    left: 0;
    height: 260px;
    width: 200px;
    z-index: 6;
    bottom: 0;
    background: rgb(51,10,51);
    background: linear-gradient(90deg, rgba(51,10,51,1) 0%, rgba(51,10,51,1) 35%, rgba(51,10,51,0) 100%);
}

.right-gradient{
    background-color: #330A33;
    position: absolute;
    right: -12px;
    height: 260px;
    width: 200px;
    z-index: 6;
    bottom: 0; 
    background: rgb(51,10,51);
    background: linear-gradient(270deg, rgba(51,10,51,1) 0%, rgba(51,10,51,1) 35%, rgba(51,10,51,0) 100%);
}