@font-face {
  font-family: 'regular';
  src: url('BaiJamjuree-Regular.woff2') format('woff2'),
      url('BaiJamjuree-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'medium';
  src: url('BaiJamjuree-Medium.woff2') format('woff2'),
      url('BaiJamjuree-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bold';
  src: url('BaiJamjuree-Bold.woff2') format('woff2'),
      url('BaiJamjuree-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    background-size: cover;
    box-sizing: border-box;
}

.title{
    color: #3A3A3A;
    text-align: left;
    margin-top: 4%;
    margin-left: 21%;
    font-family: "medium";
    font-weight: 500;
    font-size: 64px;  
    line-height: 103%;

letter-spacing: -0.065em;
}

.funky-cursor {
  cursor: url(cursor.png), auto;
}

.title2{
  position: relative;
  color: #3A3A3A;
  text-align: left;
  margin-top: -1%;
  font-family: "bold";
  font-weight: 700;
  font-size: 125px;
  margin-left: 20%;
  line-height: 114px;
  margin-bottom: -20%;
/* or 91% */

letter-spacing: -0.065em; 
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 17.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .wrapper{
    margin-left: 15%;
}

.guides{
  font-family: "medium";
  color: #3A3A3A;
  font-size: 40px;
  margin-left: 2%;
  text-decoration: none;
}

a.guides:hover, a.guides:active {
  color: rgb(189, 189, 189);
}
  
#redball{
  width:1px;
  height: 160px;
  position: absolute;
  display: inline-block;
  margin-left: 40%;
  margin-top: 25%;
  /* margin-bottom: -50%;
  margin-left: 10%; */
  /* background-image: url('red.png'); */
}

#greenball{
  width:1px;
  height: 160px;
  position: absolute;
  display: inline-block;
  margin: 6px 6px;
  margin-left: 60%;
  margin-top: 22%;

  /* margin-bottom: -30%;
  margin-left: 10%; */
}

#blueball{
  width:1px;
  height: 160px;
  position: absolute;
  display: inline-block;
  margin: 9px 6px;
  margin-left: 27%;
  margin-top: 23%;
  /* margin-bottom: 10%;
  margin-left: 20%; */
}

#yellowball{
  width:1px;
  height: 160px;
  position: absolute;
  display: inline-block;
  margin: 17px 6px;
  margin-top: 20%;
  margin-left: 10%;
}

#purpleball{
  width:1px;
  height: 160px;
  position: absolute;
  display: inline-block;
  margin: 12px 6px;
  margin-top: 20%;

}