@font-face {
  font-family: 'regular';
  src: url('BaiJamjuree-Regular.woff2') format('woff2'),
      url('BaiJamjuree-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'medium';
  src: url('BaiJamjuree-Medium.woff2') format('woff2'),
      url('BaiJamjuree-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bold';
  src: url('BaiJamjuree-Bold.woff2') format('woff2'),
      url('BaiJamjuree-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
}

.title{
    color: #3A3A3A;
    text-align: left;
    margin-top: 9%;
    margin-left: 21%;
    font-family: "medium";
    font-weight: 500;
    font-size: 64px;  
    line-height: 103%;

letter-spacing: -0.065em;
}

.title2{
  color: #3A3A3A;
  text-align: left;
  margin-top: 1%;
  font-family: "bold";
  font-weight: 700;
  font-size: 125px;
  margin-left: 20%;
  line-height: 114px;
/* or 91% */

letter-spacing: -0.065em; 
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 17.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .wrapper{
    margin-left: 15%;
}

#redball, #greenball{
  width:1px;
  height: 160px;
  position: relative;
  margin-bottom: -50%;
  /* background-image: url('red.png'); */
}