* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black ;
    max-width: 100%;
    padding-left: 8%;
}

.funky-cursor {
    cursor: url(dot.png), auto;
  }

img{
max-width: 30%;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right:12%;

}